service: quno-backend-challenge

provider:
  name: aws
  runtime: nodejs14.x
  region: eu-central-1
  memorySize: 128
  environment:
    accountId: ${AWS::AccountId}
    region: ${AWS::Region},
    QUNO_SCORE_MAPPING: {"0":"Bad","6":"Regular","7":"Good","8":"Very Good","9":"Excelent"},
    QUNOENV: test
  iamRoleStatements:
    - Effect: "Allow"
      Resource: "*"
      Action:
        - "sns:*"

custom:
  resourceRoutes: true

plugins:
  - serverless-offline

functions:
  getDoctors:
    name: getdoctors
    handler: dist/handlers/doctors.getDoctors
    memorySize: 128
    timeout: 10
    environment:
    events:
      - http:
          path: /doctors
          method: GET
      - http:
          path: /doctors/{id}
          method: GET
  postDoctor:
    name: postdoctor
    handler: dist/handlers/doctors.postDoctor
    memorySize: 128
    timeout: 10
    environment:
    events:
      - http:
          path: /doctors
          method: POST
  error:
    handler: dist/handlers/error.handler
    events:
      - sns: dlq-topic
  createDoctor:
    handler: dist/handlers/createdoctor.create
    events:
      - sns: create-doctor-topic
    onError: arn:aws:sns:eu-central-1:900989174731:dlq-topic

