service: quno-backend-challenge

provider:
  name: aws
  runtime: nodejs16.x
  region: eu-central-1

custom:
  resourceRoutes: true

plugins:
  - serverless-offline

functions:
  getDoctors:
    name: get doctors
    handler: dist/doctors.getDoctors
    memorySize: 128
    timeout: 10
    environment:
    events:
      - http:
          path: /{id}
          method: GET
      - http:
          path: /
          method: GET
  postDoctor:
    name: post doctor
    handler: dist/doctors.postDoctor
    memorySize: 128
    timeout: 10
    environment:
    events:
      - http:
          path: /create
          method: post
  createDoctor:
    handler: dist/createdoctor.create
    events:
      - sns: create-doctor-topic # created immediately
    onError: arn:aws:sns:#{AWS::Region}:#{AWS::AccountId}:dlq-topic
  error:
    handler: dist/error.handler
    events:
      - sns: dlq-topic # created immediately
